<#include "../include/header.html">
    <style>
        /*表格标题居中显示*/
        .k-grid th {
            text-align: center !important;
        }

        /*表格列居中*/
        .k-grid tr {
            text-align: center !important;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        div[role=tooltip].k-tooltip{
            padding: 2px;
            background: #5c9acf;
        }
        .k-tooltip-content{
            padding: 4px;
            text-align: left;
            background: #fff;
            color: #666;
        }
        .k-callout {
            border-bottom-color: #5c9acf;
        }
    </style>
    <script src="${base.contextPath}/common/code?currencyCodeData=HCUX_CURRENCY_CODE"></script>
    <script src="${base.contextPath}/lib/jquery.fileDownload.js"></script>
    <script type="text/javascript">
        var viewModel = Hap.createGridViewModel("#grid", {
            model: {
            },
            exportExcel: function (e) {
                var url = '${base.contextPath}/hcux/eps/cash/flow/exportExcel?${_csrf.parameterName}=${_csrf.token}';

                Hap.blockUI({
                    message: '文件下载中...'
                });
                $.fileDownload(url, {
                    httpMethod: "POST",
                    data: Hap.prepareQueryParameter(viewModel.model.toJSON()),
                    successCallback: function (url) {
                        Hap.unblockUI();
                    },
                    failCallback: function (html, url) {
                        Hap.unblockUI();
                    }
                });
            }
        });
        window.onload=function () {
            //add tooltip
            $("#grid").kendoTooltip({
                show: function(e){
                    if($.trim(this.content.text()) !=""){
                        $('[role="tooltip"]').css("visibility", "visible");
                    }
                },
                hide: function(){
                    $('[role="tooltip"]').css("visibility", "hidden");
                },
                //忽略第一行提示,因为第一行通常是勾选框,不需要提示
                filter: "td:nth-child(n+1)",
                content: function(e){
                    var element = e.target[0];
                    if(element.offsetWidth < element.scrollWidth){
                        var text = $(e.target).text();
                        return '<div style="min-width:500px;max-width: 600px;text-align: center">' + text + '</div>';
                        // return '<div style="min-width:100px;max-width: 1000px;">' + text + '</div>';
                    }else{
                        $('[role="tooltip"]').css("visibility", "hidden");//解决鼠标一开始放在上面出现空模块
                        return "";
                    }
                }
            }).data("kendoTooltip");
        }
    </script>
    <body>
    <div id="page-content">
        <div id="query-form" style="">
            <div style="padding-bottom:10px;">
                <input class="k-textbox" data-bind="value:model.receiptNumber"
                       data-role="maskedtextbox"
                       id="receiptNumberInput"
                       placeholder='收款编号'
                       style="width:19%;margin-right:5px;" type="text">
                <input  data-bind="value:model.receiptDateFrom"
                       id="receiptDateFromInput"
                       placeholder='收款日期从'
                       style="width:19%;margin-right:5px;">
                <input data-bind="value:model.receiptDateTo"
                       id="receiptDateToInput"
                       placeholder='收款日期至'
                       style="width:19%;margin-right:5px;">

                <input class="k-textbox" data-bind="value:model.amountFrom"
                       data-role="maskedtextbox"
                       id="amountFromInput"
                       placeholder='收款金额从'
                       style="width:19%;margin-right:5px;">
                <input class="k-textbox" data-bind="value:model.amountTo"
                       data-role="maskedtextbox"
                       id="amountToInput"
                       placeholder='收款金额至'
                       style="width:19%;margin-right:5px;">
            </div>
            <div style="padding-bottom:10px;">
                <input data-bind="value:model.currencyCode"
                       id="currencyCodeInput"
                       placeholder='币种'
                       style="width:19%;margin-right:5px;" type="text">
                <input data-bind="value:model.returnDateFrom"
                       id="returnDateFromInput"
                       placeholder='退款日期从'
                       style="width:19%;margin-right:5px;">
                <input data-bind="value:model.returnDateTo"
                       id="returnDateToInput"
                       placeholder='退款日期至'
                       style="width:19%;margin-right:5px;">
                <input class="k-textbox" data-bind="value:model.returnAmountFrom"
                       data-role="maskedtextbox"
                       id="returnAmountFromInput"
                       placeholder='退款金额从'
                       style="width:19%;margin-right:5px;">
                <input class="k-textbox" data-bind="value:model.returnAmountTo"
                       data-role="maskedtextbox"
                       id="returnAmountToInput"
                       placeholder='退款金额至'
                       style="width:19%;margin-right:5px;">
            </div>
            <div style="padding-bottom:10px;">
                <input class="k-textbox" data-bind="value:model.serialNumber"
                       data-role="maskedtextbox"
                       id="serialNumberInput"
                       placeholder='系列号'
                       style="width:19%;margin-right:5px;" type="text">
                <input class="k-textbox" data-bind="value:model.description"
                       data-role="maskedtextbox"
                       id="descriptionInput"
                       placeholder='付款方'
                       style="width:19%;margin-right:5px;" type="text">
            </div>
            <div style="padding-bottom:10px;">
                <div>
                    <div class="pull-left" id="toolbar-btn" style="padding-bottom:10px;">
                        <span class="btn btn-default" data-bind="click:exportExcel" style="float:left;margin-right:5px;"><@spring.message "hap.exportexcel"/></span>
                    </div>
                    <div>
                        <div style="float: right;">
                            <span class="btn btn-primary" data-bind="click:query" style="width:70px;margin-right:5px;" type="submit"><@spring.message "hap.query"/></span>
                            <span class="btn btn-default" data-bind="click:reset" style="width:70px;" type="button"> <@spring.message "hap.reset"/></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="clear:both">
            <div id="grid"></div>
        </div>
        <div id="total-receipt" style="color: red;margin-left:30px">
            收款金额合计：<span data-bind="text:model.stringTotalReceipt"></span>
        </div>
        <div id="total-nature-amount" style="color: red;margin-left:30px">
            收款本位币合计：<span data-bind="text:model.totalNatureAmount"></span>
        </div>
        <div id="total-return-amount" style="color: red;margin-left:30px">
            退款金额合计：<span data-bind="text:model.stringTotalReturnAmount"></span>
        </div>
        <script>
            kendo.bind($('#query-form'), viewModel);
            $("#receiptDateFromInput").kendoDatePicker({
                format: "{0:yyyy-MM-dd}"
            });

            $("#receiptDateToInput").kendoDatePicker({
                format: "{0:yyyy-MM-dd}"
            });
            $("#returnDateFromInput").kendoDatePicker({
                format: "{0:yyyy-MM-dd}"
            });
            $("#returnDateToInput").kendoDatePicker({
                format: "{0:yyyy-MM-dd}"
            });
            $('#currencyCodeInput').kendoDropDownList({
                optionLabel: '--请选择币种--',
                dataTextField: "meaning",
                dataValueField: "meaning",
                valuePrimitive: true,
                dataSource: currencyCodeData
            });
        </script>
        <script>kendo.bind($('#total-receipt'), viewModel);</script>
        <script>kendo.bind($('#total-nature-amount'), viewModel);</script>
        <script>kendo.bind($('#total-return-amount'), viewModel);</script>
    </div>
    <script type="text/javascript">
        Hap.initEnterQuery('#query-form', viewModel.query);
        var BaseUrl = _basePath;
        dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: BaseUrl + "/hcux/eps/cash/flow/query",
                    type: "POST",
                    dataType: "json"
                },
                update: {
                    url: BaseUrl + "/hcux/eps/cash/flow/submit",
                    type: "POST",
                    contentType: "application/json"
                },
                destroy: {
                    url: BaseUrl + "/hcux/eps/cash/flow/remove",
                    type: "POST",
                    contentType: "application/json"
                },
                create: {
                    url: BaseUrl + "/hcux/eps/cash/flow/submit",
                    type: "POST",
                    contentType: "application/json"
                },
                parameterMap: function (options, type) {
                    if (type !== "read" && options.models) {
                        var datas = Hap.prepareSubmitParameter(options, type)
                        return kendo.stringify(datas);
                    } else if (type === "read") {
                        return Hap.prepareQueryParameter(viewModel.model.toJSON(), options)
                    }
                }
            },
            batch: true,
            serverPaging: true,
            pageSize: 20,
            requestEnd: function (e) {
                if (!e.response.success) {
                    return
                }
                if (e.type === 'read') {
                    if (e.response.rows.length !== 0) {
                        viewModel.model.set('stringTotalReceipt', e.response.rows[0].stringTotalReceipt);
                        viewModel.model.set('totalNatureAmount', e.response.rows[0].totalNatureAmount);
                        viewModel.model.set('stringTotalReturnAmount', e.response.rows[0].stringTotalReturnAmount);
                    } else {
                        viewModel.model.set('stringTotalReceipt', '');
                        viewModel.model.set('totalNatureAmount','');
                        viewModel.model.set('stringTotalReturnAmount', '');
                    }
                }
            },
            schema: {
                data: 'rows',
                total: 'total',
                model: {
                    id: "cashFlowId",
                    fields: {
                    }
                }
            }
        });

        $("#grid").kendoGrid({
            dataSource: dataSource,
            resizable: true,
            scrollable: true,
            navigatable: false,
            // selectable: 'multiple, rowbox',
            dataBound: function () {
                if (parent.autoResizeIframe) {
                    parent.autoResizeIframe('${RequestParameters.functionCode!}')
                }
            },
            pageable: {
                pageSizes: [5, 10, 20, 50],
                refresh: true,
                buttonCount: 5
            },
            columns: [
                {
                    field: "receiptNumber",
                    title: '收款编号',
                    width: 120,
                },
                {
                    field: "serialNumber",
                    title: '系列号',
                    width: 120,
                },
                {
                    field: "receiptDate",
                    title: '收款日期',
                    width: 120,
                },
                {
                    field: "description",
                    title: '付款方',
                    width: 130,
                    attributes:{style: "white-space:nowrap;text-overflow:ellipsis;"},
                },
                {
                    field: "currencyCode",
                    title: '币种',
                    width: 80,
                },
                {
                    field: "amount",
                    title: '收款金额',
                    width: 120,
                },
                {
                    field: "exchangeRate",
                    title: '汇率',
                    width: 60,
                },
                {
                    field: "natureAmount",
                    title: '收款本位币',
                    width: 100,
                },
                {
                    field: "bankName",
                    title: '银行',
                    width: 120
                },
                {
                    field: "returnDate",
                    title: '退款日期',
                    width: 120,
                    template: function (dataItem) {
                        var returnAmount=dataItem.returnAmount||'';
                        var returnDate=dataItem.returnDate||'';
                        if(returnAmount==''){
                         return '';
                        }else{
                            return returnDate;
                        }
                    }
                },
                {
                    field: "returnAmount",
                    title: '退款金额',
                    width: 80,
                },
            ],
            editable: false
        });
    </script>
    </body>
    </html>