<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hcux.cs.mapper.CsContractVatMapper">
    <resultMap id="BaseResultMap" type="hcux.cs.dto.CsContractVat"
               extends="com.hand.hap.mapper.StdMapper.STD">
        <result column="CONTRACT_VAT_ID" property="contractVatId" jdbcType="DECIMAL" />
        <result column="VAT_HEADER_ID" property="vatHeaderId" jdbcType="DECIMAL" />
        <result column="VAT_LINE_ID" property="vatLineId" jdbcType="DECIMAL" />
        <result column="ORG_NAME" property="orgName" jdbcType="VARCHAR" />
        <result column="SO_PJ_NUM" property="soPjNum" jdbcType="VARCHAR" />
        <result column="ITEM_CODE" property="itemCode" jdbcType="VARCHAR" />
        <result column="ITEM_NAME" property="itemName" jdbcType="VARCHAR" />
        <result column="VAT_QUANTITY" property="vatQuantity" jdbcType="DECIMAL" />
        <result column="DELETE_FLAG" property="deleteFlag" jdbcType="VARCHAR" />
        <result column="LINE_CATEGORY_CODE" property="lineCategoryCode" jdbcType="VARCHAR" />
        <result column="ORDER_QUANTITY_UOM" property="orderQuantityUom" jdbcType="VARCHAR" />
    </resultMap>
    <select id="selectCsContractVatFromEbs" resultMap="BaseResultMap" parameterType="hcux.cs.dto.CsContract">
        select
        VAT_HEADER_ID,
        VAT_LINE_ID,
        ORG_NAME,
        SO_PJ_NUM,
        ITEM_CODE,
        ITEM_DESC ITEM_NAME,
        VAT_QUANTITY,
        LINE_CATEGORY_CODE,
        ORDER_QUANTITY_UOM,
        null REQUEST_ID,
        null PROGRAM_ID,
        null OBJECT_VERSION_NUMBER,
        null CREATED_BY,
        null CREATION_DATE,
        null LAST_UPDATED_BY,
        LAST_UPDATE_DATE,
        null LAST_UPDATE_LOGIN
        from cux_vat_info_v@ebs_db
        WHERE LAST_UPDATE_DATE >=  TO_DATE(TO_CHAR(#{lastUpdateDate},'yyyy-MM-dd HH24:mi:ss'),'yyyy-MM-dd HH24:mi:ss')
    </select>
    <select id="selectCsContractVatFromHap" resultMap="BaseResultMap" parameterType="hcux.cs.dto.CsContract">
        select
        CONTRACT_VAT_ID,
        VAT_HEADER_ID,
        VAT_LINE_ID,
        ORG_NAME,
        SO_PJ_NUM,
        ITEM_CODE,
        ITEM_NAME,
        VAT_QUANTITY,
        LINE_CATEGORY_CODE,
        ORDER_QUANTITY_UOM,
        <include refid="hcux.core.mapper.HcuxBaseMapper.BaseSTDColumn">
            <property name="std" value="HCCV"/>
        </include>
        from HCUX_CS_CONTRACT_VAT HCCV
        where HCCV.VAT_HEADER_ID = #{vatHeaderId}
        and HCCV.VAT_LINE_ID = #{vatLineId}
    </select>
</mapper>