<#include "../include/header.html">
<script type="text/javascript">
    var initExpectDateFrom = new Date();
    initExpectDateFrom.setDate(initExpectDateFrom.getDate() - 10);
    initExpectDateFrom.setHours(0);
    initExpectDateFrom.setMinutes(0);
    initExpectDateFrom.setSeconds(0);

    var initExpectDateTo = new Date();
    initExpectDateTo.setHours(23);
    initExpectDateTo.setMinutes(59);
    initExpectDateTo.setSeconds(59);

    var viewModel = Hap.createGridViewModel("#grid", {
        model: {
            expectDateFrom: initExpectDateFrom,
            expectDateTo: initExpectDateTo
        }
    });

    //跳转到出库物流详细
    function searchData(orderId) {
        var url = '${base.contextPath}/cs/cs_outbound_trans.html?orderId=' + orderId;

        var dialog = $("#searchWindow").kendoWindow({
            actions: ["Close"],
            title: '仓库数据明细',
            content: url,
            iframe: true,
            visible: false,
            resizable: false,
            modal: true,
            close: function () {
                $('#grid').data('kendoGrid').dataSource.page(1);
            }
        }).data("kendoWindow");
        dialog.maximize().open();
    }
</script>
<body>
<div id="page-content">
    <div class="pull-left" id="toolbar-btn" style="padding-bottom:10px;">
        <!--<span class="btn btn-primary k-grid-add" style="float:left;margin-right:5px;" data-bind="click:create"><@spring.message "hap.new"/></span>-->
        <!--<span class="btn btn-success k-grid-save-changes" data-bind="click:save" style="float:left;margin-right:5px;"><@spring.message "hap.save"/></span>-->
        <!--<span  data-bind="click:remove" class="btn btn-danger" style="float:left;"><@spring.message "hap.delete"/></span>-->
        <input type="text" data-role="maskedtextbox" style="float:left;width:150px;margin-right:5px;" placeholder='公司名称'
               data-bind="value:model.customerName" class="k-textbox">
        <input type="text" data-role="maskedtextbox" style="float:left;width:150px;margin-right:5px;" placeholder='出库编号'
               data-bind="value:model.invoiceNo" class="k-textbox">
        <input type="text" style="width:200px;margin-right:5px;" placeholder='预计出库日期从'
               data-bind="value:model.expectDateFrom" id="expectDateFromInput">
        <input type="text" style="width:200px;margin-right:5px;" placeholder='预计出库日期至'
               data-bind="value:model.expectDateTo" id="expectDateToInput">
    </div>
    <script>
        kendo.bind($('#toolbar-btn'), viewModel);

        $("#expectDateFromInput").kendoDateTimePicker({
            format: "yyyy-MM-dd"
        });

        $("#expectDateToInput").kendoDateTimePicker({
            format: "yyyy-MM-dd"
        });
    </script>
    <div class="pull-right" id="query-form" style="padding-bottom:10px;">
        <span class="btn btn-primary" style="float:left;width:70px" data-bind="click:query" type="submit"><@spring.message "hap.query"/></span>
        <div style="clear:both"></div>
    </div>
    <script>kendo.bind($('#query-form'), viewModel);</script>
    <div style="clear:both">
        <div id="grid"></div>
    </div>
</div>
<div id="searchWindow"></div>

<script type="text/javascript">
    Hap.initEnterQuery('#toolbar-btn', viewModel.query);
    var BaseUrl = _basePath;
    dataSource = new kendo.data.DataSource({
        transport: {
            read: {
                url: BaseUrl + "/hcux/cs/outbound/order/query",
                type: "POST",
                dataType: "json"
            },
            update: {
                url: BaseUrl + "/hcux/cs/outbound/order/submit",
                type: "POST",
                contentType: "application/json"
            },
            destroy: {
                url: BaseUrl + "/hcux/cs/outbound/order/remove",
                type: "POST",
                contentType: "application/json"
            },
            create: {
                url: BaseUrl + "/hcux/cs/outbound/order/submit",
                type: "POST",
                contentType: "application/json"
            },
            parameterMap: function (options, type) {
                if (type !== "read" && options.models) {
                    var datas = Hap.prepareSubmitParameter(options, type)
                    return kendo.stringify(datas);
                } else if (type === "read") {
                    return Hap.prepareQueryParameter(viewModel.model.toJSON(), options)
                }
            }
        },
        batch: true,
        serverPaging: true,
        pageSize: 10,
        schema: {
            data: 'rows',
            total: 'total',
            model: {
                id: "orderId",
                fields: {
                    expectInvoiceDate: {type: 'date'},
                    effectiveDate: {type: 'date'}
                }
            }
        }
    });

    $("#grid").kendoGrid({
        dataSource: dataSource,
        resizable: true,
        scrollable: true,
        navigatable: false,
        selectable: 'multiple, rowbox',
        dataBound: function () {
            if (parent.autoResizeIframe) {
                parent.autoResizeIframe('${RequestParameters.functionCode!}')
            }
        },
        pageable: {
            pageSizes: [5, 10, 20, 50],
            refresh: true,
            buttonCount: 5
        },
        columns: [
            {
                field: "customerName",
                title: '公司名称',
                headerAttributes: {
                    style: "text-align: center"
                },
                attributes: {
                    style: "white-space:nowrap;text-overflow:ellipsis;text-align: center"
                },
                width: 200
            },
            {
                field: "invoiceNo",
                title: '出库编号',
                headerAttributes: {
                    style: "text-align: center"
                },
                attributes: {
                    style: "white-space:nowrap;text-overflow:ellipsis;text-align: center"
                },
                width: 200,
                template: function (rowdata) {
                    return '<a style="text-decoration : none;color : blue;cursor:pointer" onclick="searchData(' + rowdata.orderId + ')">'
                        + rowdata.invoiceNo
                        + '</a>'
                }
            },
            {
                field: "expectInvoiceDate",
                title: '预计出库日期',
                headerAttributes: {
                    style: "text-align: center"
                },
                attributes: {
                    style: "white-space:nowrap;text-overflow:ellipsis;text-align: center"
                },
                width: 120,
                format: "{0:yyyy-MM-dd}"
            },
            {
                field: "effectiveDate",
                title: '有效日期',
                headerAttributes: {
                    style: "text-align: center"
                },
                attributes: {
                    style: "white-space:nowrap;text-overflow:ellipsis;text-align: center"
                },
                width: 120,
                format: "{0:yyyy-MM-dd}"
            },
            /*{
                field: "receipterCode",
                title: '收货人编码',
                headerAttributes: {
                    style: "text-align: center"
                },
                attributes: {
                    style: "white-space:nowrap;text-overflow:ellipsis;text-align: center"
                },
                width: 120
            },*/
            /*{
                field: "receipter",
                title: '收货人名称',
                headerAttributes: {
                    style: "text-align: center"
                },
                attributes: {
                    style: "white-space:nowrap;text-overflow:ellipsis;text-align: center"
                },
                width: 120
            },*/
            {
                field: "itemDesc",
                title: '物料品名',
                headerAttributes: {
                    style: "text-align: center"
                },
                attributes: {
                    style: "white-space:nowrap;text-overflow:ellipsis;text-align: center"
                },
                width: 120
            },
            {
                field: "invQty",
                title: '出库数量',
                headerAttributes: {
                    style: "text-align: center"
                },
                attributes: {
                    style: "white-space:nowrap;text-overflow:ellipsis;text-align: center"
                },
                width: 120
            },
            {
                field: "actInvQty",
                title: '仓库实际出库数量',
                headerAttributes: {
                    style: "text-align: center"
                },
                attributes: {
                    style: "white-space:nowrap;text-overflow:ellipsis;text-align: center"
                },
                width: 120
            },
        ],
        editable: false
    });

</script>
</body>
</html>